<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css') }}">
</head>
<body>
    <div class="content">
    <h6>IMPORT EXPORT MANAGEMENT SYSTEMS</h6>
    <h6>IMPORT EXPORT MANAGEMENT SYSTEMS</h6></div><br><br><br>
    <div class="container">
        <br><br><br><br>
        <div class="btn-container">
           <a href="/manufacturer_form.html" style="--clr:#10c2e6;" ><span>Manufacturer</span><i></i></a>
            <a href="/distributor_form.html" style="--clr:#6eff3e;" ><span>Distributor</span><i></i></a>
            <a href="/product_form.html" style="--clr:#fff705;" ><span>Product</span><i></i></a>
            <a href="/category_form.html" style="--clr:#ff07f7;" ><span>Category</span><i></i></a>
            <a href="/sales_form.html" style="--clr:#2bfb06;" ><span>Sales</span><i></i></a>
        </div>
    </div>
</body>
</html>
